@use '../base/var' as v; 
@use '../base/mixins' as m;

.base{
    width: 35rem;
    height: 60rem;
    background: v.$black;
    border-radius: .7rem;

    @media(min-width: 385px){
        width: 40rem;
    }
    &__container{
        display: flex;
        justify-content: center;
        margin-top: 3rem;

        @include m.tablet{ 
            margin-top: 10rem;
        }
    }
    &__header{
        display: flex;
        justify-content: center;
        padding-top: 3rem;
    }
    &__buttons{
        display: grid;
        grid-template: repeat(5, 72px) / repeat(4, 1fr);
        padding: 2rem;
        gap: 2rem;
    }
}
.output{
    display: flex;
    width: 32rem;
    height: 8.5rem;
    justify-content: right;
    align-items: flex-end;
    padding: 1rem;
    background: black;
    border-radius: .4rem;

    @media (min-width: 385px) {
        width: 34rem;
    }

    &__text{
        margin: 0;
        color: v.$white;
        font-size: 3rem;
    }
}