// Fonts
$mainFont: Inter, Avenir, Helvetica, Arial, sans-serif;
$secondFont: 'Times New Roman', Times, serif;

// Media Queries Sizes
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopPlus: 1200px;
$desktopXL: 1920px;

// Colors
$main: #FFC411;
$second: #455a64; 
$grey: #242424;
$black: #242424;
$white: #FFFFFF;
$white2: rgba(255, 255, 255, 0.87);
$lightGrey: #eceeef;